<!-- <p>switch works!</p>
<br>

<select name="form-control" id="id" (change)="product($event)">
    <option value="Lap">Please Select Product</option>
    <option value="Laptop">Laptop</option>
    <option value="Tv">TV</option>
    <option value="Mobile">Mobile</option>
    <option value="Radio">Radio</option>
</select>

<div class="row">
    <div class="col-md-12" [ngSwitch]="selected">
        
        <h3 *ngSwitchDefault></h3>
        <h3 *ngSwitchCase="'Laptop'">Laptop</h3>
        <h3 *ngSwitchCase="'Tv'">TV</h3>
        <h3 *ngSwitchCase="'Mobile'">Mobile</h3>
        <h3 *ngSwitchCase="'Radio'">Radio</h3>
    </div>
</div> -->