<div class="container">
    <div class="header">
        <h3>Concat Operater Vs Merge Operater</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <label for="">First :-</label><br>
            <span> 1, 2, 3, 4, 5, 6</span>
        </div>
        <div class="col-4">
            <label for="">Secound</label><br>
            <span> 0, 1, 2, 3,</span>
        </div>
        <div class="col-4">
            <label for="">First</label><br>
            <span>1, 2, 3, 4</span>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-6">
            <label for="">Concat Operater:-</label><br>
            <p *ngFor="let data of allVideo">{{data}},&nbsp;</p>
        </div>
        <div class="col-6">
            <label for="">Merge Operater:-</label><br>
            <p *ngFor="let data of allVideo2">{{data}},&nbsp;</p>
        </div>
    </div>
</div>