<div class="header-wrapper">
<h3>Rxjs Operater
</h3></div>
    <div class="row mx-3 my-3">
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Observable">Observable
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Promic">Promic
            </div>
        </div>
        <div class="col-3 ">
            <div class="operater-wrapper" routerLink="/Map">Map
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Pluck">Pluck
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Filter">Filter
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Tap">Tap
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Take">Take
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Retry">Retry
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/DebounceTime">Debounce Time
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/DistinctUntil">Distinct Until Changed
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Subject">Subject, Behavior-Subject
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/ReplaySubject">Replay Subject
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/AsyncSubject">Async Subject
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/Concat">Concat Vs Merge
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/mergemap"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Merge Map &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(flattening operater)
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/concat-maps">Concat Map
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/AsyncSubject">Async Subject
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/AsyncSubject">Async Subject
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/AsyncSubject">Async Subject
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/AsyncSubject">Async Subject
            </div>
        </div>
        <div class="col-3">
            <div class="operater-wrapper" routerLink="/AsyncSubject">Async Subject
            </div>
        </div>
    </div>
